node_modules

# Ambiente virtual
venv/
env/
.venv/

# Banco de dados (dados reais não vão pro git)
*.db
*.sqlite
*.sqlite3

# Credenciais e variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.code-workspace

# Logs
*.log
ngrok.exe
# Uploads futuros (quando tiver)
app/static/uploads/