# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
venv/
env/
.venv/
ENV/
.env
env
# Banco de dados local
*.db
*.sqlite
*.sqlite3

# Node (não precisamos no Railway)
node_modules/
npm-debug.log
package-lock.json

# Ambiente
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Railway / deploy
*.log
ngrok.exe
ngrok

# Ferramentas de admin local
virar_admin.py
make_admin.py
migrate_admin.py
atualizar_banco.py
config_corrigido.py
